body,html{
    height: 100px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #430A5D;
   
}

.container{
    align-items:center;
    left: 0px;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding-top: 2px;
  }
  

h1{
    font-size: xxx-large;
    color: #EEE4B1;
}

button{
    background-color: #FF204E;
    padding-right: 50px;
    padding-left: 50px;
   
    
}
a{
    text-decoration: none;
}
.video{
    position: fixed;
    left: 30px;
    right: 30px;
    width: 20px; 
    height: 200px;
  }
  