.content li{
    list-style-type: none;
    margin: auto;
    padding: 2px;
    border-color: blue;
    color: #ca3d3d;
    background-color: aliceblue;
    display: inline;
}
.content{
    display: flex;
    background-color: azure;
    justify-content: end;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    border: 10px solid black;
    padding: 10px;
    background-color: antiquewhite;
   
    
  }
  
  .item {
    height: 200px; 
    width: 200px; 
    border: 10px solid black;
    padding: 10px;
    background-color: darkorange;
  }